.container{
    background-color: #008000;
    width: 600px;
    height: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 600px 400px;

}

.square{
    height: 100px;
    width: 100px;
    background-color: orange;
    display: flex;
}

.circle{
    height: 50%;
    width: 50%;
    background-color: blue;
    border-radius: 50%;
    
}

.right{
    
    justify-content: flex-end;
}

.bottom{
    flex-wrap: wrap-reverse;
}
